@for (product of products; track product.id) {
<section>
  <div class="address-cart">
    <img src="assets/icons/icons8-lock-48.png" alt="" style="height: 20px; width: 20px" />&nbsp;
    <p>http:\\www.myplant.com\\</p>
  </div>
  <div class="cart-decoyContainer">
    <div class="cart-container">
      <div class="additional-cart">
        <div class="cart-icons">
          <div class="home">
            <br />
            <img src="assets/icons/icons8-home-48.png" alt="" style="height: 20px; width: 20px" />
          </div>
          <br />
          <div class="plant">
            <img src="assets/icons/icons8-plant-50.png" alt="" style="height: 20px; width: 20px" />
          </div>
          <br />
          <div class="cartIcon">
            <a [routerLink]="['/yourCart']">
              <img src="assets/icons/icons8-cart-64.png" alt="" style="height: 20px; width: 20px" />
              <span class="cartNumber">{{ CartAddedService.getQuantityNumber() }}</span>
            </a>
          </div>

          <br />
          <div>
            <img src="assets/icons/icons8-window-48.png" alt="" style="height: 20px; width: 20px" />
          </div>
          <br />
        </div>
      </div>

      <div class="full-cart">
        <div class="search-bar">
          <input type="search" placeholder="Search" />
          <button type="submit">
            <svg fill="" height="12px" width="12px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 488.4 488.4" xml:space="preserve">
              <g>
                <g>
                  <path d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6
                  s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2
                  S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7
                  S381.9,104.65,381.9,203.25z" />
                </g>
              </g>
            </svg>
          </button>
        </div>

        <div class="fullcart-icons">
          <div class="circle">
            <img src="assets/icons/icons8-lock-48.png" alt="" style="height: 20px; width: 20px" />
          </div>
          <div class="window">
            <img src="assets/icons/icons8-window-48.png" alt="" style="height: 20px; width: 20px" />
          </div>
          <div class="filter">
            <img src="assets/icons/icons8-filter-50.png" alt="" style="height: 20px; width: 20px" />
          </div>
        </div>
        <div class="cart">
          <div class="inner-cart">
            <img [src]="product.image" alt="{{ product.name }}">
          </div>
        </div>
      </div>
    </div>

    <div class="belowCart">
      <div class="detailCart">
        <p>{{ product.name }}</p>
        <p>${{ product.price }}</p>
      </div>
      <div class="addToCart">
        <button type="submit" (click)="addToCart(product)">+ Add to Cart</button>
      </div>
    </div>
  </div>

</section>
}
