@for (item of cartAddedService.getItems(); track item.id) {
<div class="cartAdded">
  <div class="itemImage">
    <img [src]="item.image" alt="{{ item.name }}">
  </div>
  <div class="details">
    <div class="itemName">
      <p>{{ item.name }}</p>
    </div>
    <div class="itemPrice">
      <p>Price: ${{ item.price }}</p>
    </div>
    <div class="itemQuantity">
      <p>Quantity: {{ item.quantity }}</p>
    </div>
    <div class="button">
      <button type="submit" class="delete" (click)="deleteFromCart(item)">delete</button><br><br>
      <button type="submit" class="btn" (click)="cartAddedService.decrementQuantity(item.id)">-</button>&nbsp;
      <button type="submit" class="btn" (click)="cartAddedService.incrementQuantity(item.id)">+</button>
    </div>
  </div>
</div>

<div class="checkoutContainer">
  <div class="checkout">
    <div>
      Total Item:{{ cartAddedService.getItemNumber() }}
    </div>
    <div>
      Total Quantity: {{ cartAddedService.getQuantityNumber() }}
    </div>
    <div>
      Total Price: {{ cartAddedService.getTotal()}}
    </div>
    <div class="btn">
      <button type="submit">Checkout</button>
    </div>
  </div>
</div>
}
